/* style.css */

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
    transition: background 0.5s;
}

.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 350px;
    transition: opacity 0.5s;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: bold;
}

.input-container {
    margin-bottom: 20px;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.1em;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1em;
}

button {
    width: 100%;
    padding: 10px;
    background: #ff7e5f;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.1em;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #feb47b;
}

#fullscreen-timer {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    text-align: center;
}

.timer-content {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.digital-clock {
    font-size: 144px;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.digits {
    transition: all 0.5s ease;
}

.separator {
    font-size: 144px;
    margin: 0 10px;
}

.button-group {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.button-group button {
    padding: 10px 20px;
    background: #ff7e5f;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.1em;
    cursor: pointer;
    transition: background 0.3s;
}

.button-group button:hover {
    background: #feb47b;
}

@media (max-width: 400px) {
    .container {
        width: 90%;
    }

    .digital-clock {
        font-size: 96px;
    }

    .separator {
        font-size: 96px;
    }
    
}

@media (max-width: 500px) {
    .timer-content{
        width: 80%;
    }
    
}
@media (max-width: 420px) {
    .timer-content{
        width: 60%;
    }
    .digital-clock {
        font-size: 80px;
    }
    .separator{
        font-size: 80px;
    }
    .button-group button{
        padding: 10px 10px;
    }
    
}
